# Anime Analysis

In [57]:
import numpy as np
import pandas as pd

`Reading Dataset on Anime`

In [58]:
df = pd.read_csv(r'..\datasets\anime.csv')
df.head(10)

   Rank                                              Title  Score
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05
5     6  Gintama'TV (51 eps)Apr 2011 - Mar 2012534,105 ...   9.04
6     7  Gintama: The FinalMovie (1 eps)Jan 2021 - Jan ...   9.04
7     8  Hunter x Hunter TV (148 eps)Oct 2011 - Sep 201...   9.04
8     9  Kaguya-sama wa Kokurasetai: Ultra RomanticTV (...   9.04
9    10  Gintama': EnchousenTV (13 eps)Oct 2012 - Mar 2...   9.03

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rank    50 non-null     int64
 1   Title   50 non-null     object
 2   Score   50 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.3+ KB

### Analysis Criteria

In [60]:
#make a new column for episode cošnt
#make a new column for time stampl
#which anime has the highest score
#give me top 5 highest scoring anime
#which anime has the highest episode count
#animes with top 5 episode count
#which is the longest running anime

`Feature extraction - Title to episode numbers`

In [61]:

df['Title']

0     Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...
1     Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...
2     Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...
3     Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...
4     Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...
5     Gintama'TV (51 eps)Apr 2011 - Mar 2012534,105 ...
6     Gintama: The FinalMovie (1 eps)Jan 2021 - Jan ...
7     Hunter x Hunter TV (148 eps)Oct 2011 - Sep 201...
8     Kaguya-sama wa Kokurasetai: Ultra RomanticTV (...
9     Gintama': EnchousenTV (13 eps)Oct 2012 - Mar 2...
10    Shingeki no Kyojin: The Final Season - Kankets...
11    Ginga Eiyuu DensetsuOVA (110 eps)Jan 1988 - Ma...
12    Bleach: Sennen Kessen-hen - Ketsubetsu-tanTV (...
13    Fruits Basket: The FinalTV (13 eps)Apr 2021 - ...
14    Gintama.TV (12 eps)Jan 2017 - Mar 2017302,232 ...
15    GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...
16    Koe no KatachiMovie (1 eps)Sep 2016 - Sep 2016...
17    3-gatsu no Lion 2nd SeasonTV (22 eps)Oct 2017 ...
18    Clannad: After StoryTV (24 eps)Oct 2008 - Mar ...
19    Code Geass: Hangyaku no Lelouch R2TV (25 eps)A...
20    Gintama Movie 2: Kanketsu-hen - Yorozuya yo Ei...
21    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
22    Owarimonogatari 2nd SeasonTV (7 eps)Aug 2017 -...
23    Gintama.: Shirogane no Tamashii-hen - Kouhan-s...
24    MonsterTV (74 eps)Apr 2004 - Sep 20051,041,081...
25    Kimi no Na wa.Movie (1 eps)Aug 2016 - Aug 2016...
26    Kaguya-sama wa Kokurasetai: First Kiss wa Owar...
27    Bocchi the Rock!TV (12 eps)Oct 2022 - Dec 2022...
28    The First Slam DunkMovie (1 eps)Dec 2022 - Dec...
29    Vinland Saga Season 2TV (24 eps)Jan 2023 - Jun...
30    Jujutsu Kaisen 2nd SeasonTV (23 eps)Jul 2023 -...
31    Gintama.: Shirogane no Tamashii-henTV (12 eps)...
32    Kingdom 3rd SeasonTV (26 eps)Apr 2020 - Oct 20...
33    Mob Psycho 100 IITV (13 eps)Jan 2019 - Apr 201...
34    Shingeki no Kyojin: The Final SeasonTV (16 eps...
35    Kimetsu no Yaiba: Yuukaku-henTV (11 eps)Dec 20...
36    Kizumonogatari III: Reiketsu-henMovie (1 eps)J...
37    "Oshi no Ko"TV (11 eps)Apr 2023 - Jun 2023645,...
38    Haikyuu!! Karasuno Koukou vs. Shiratorizawa Ga...
39    Sen to Chihiro no KamikakushiMovie (1 eps)Jul ...
40    Monogatari Series: Second SeasonTV (26 eps)Jul...
41    Shingeki no Kyojin: The Final Season Part 2TV ...
42    Hajime no IppoTV (75 eps)Oct 2000 - Mar 200255...
43    Cowboy BebopTV (26 eps)Apr 1998 - Apr 19991,79...
44    Kingdom 4th SeasonTV (26 eps)Apr 2022 - Oct 20...
45    Vinland SagaTV (24 eps)Jul 2019 - Dec 20191,40...
46    Mushishi Zoku Shou 2nd SeasonTV (10 eps)Oct 20...
47    Shouwa Genroku Rakugo Shinjuu: Sukeroku Futata...
48    Mob Psycho 100 IIITV (12 eps)Oct 2022 - Dec 20...
49    Rurouni Kenshin: Meiji Kenkaku Romantan - Tsui...
Name: Title, dtype: object

In [62]:
def extract_episode(txt):
    data = ''
    check = False
    for i in txt:
        if i == ')':
            break
        if i == '(':
            check = True
            continue
        if check == True:
            data += i
            
    return data

In [63]:

df['Episodes'] = df['Title'].apply(extract_episode)
df.head()

   Rank                                              Title  Score Episodes
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10   64 eps
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07   24 eps
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06   13 eps
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06   51 eps
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05   10 eps

In [64]:
df['Episodes'] = df['Episodes'].str.replace(' eps','').astype(int)
df.head()

   Rank                                              Title  Score  Episodes
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10        64
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07        24
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06        13
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06        51
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05        10

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Rank      50 non-null     int64
 1   Title     50 non-null     object
 2   Score     50 non-null     float64
 3   Episodes  50 non-null     int64
dtypes: float64(1), int64(2), object(1)
memory usage: 1.7+ KB

`Feature Extraction of Time Stamp from Title`

In [66]:
# sample 
df.loc[[0,1,3,6],'Title']

0    Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...
1    Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...
3    Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...
6    Gintama: The FinalMovie (1 eps)Jan 2021 - Jan ...
Name: Title, dtype: object

In [67]:
len('Apr 2015 - Mar 2016')

19

In [68]:
def extract_time(txt):
    data = ''
    for i in range(len(txt)):
        if txt[i] == ')':
            for j in range(i + 1, i + 20):
                data += txt[j]
        else:
            pass
    return data

In [69]:
df['Time_Stamp'] = df['Title'].apply(extract_time)
df.head(10)

,Rank,Title,Score,Episodes,Time_Stamp
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019
5,6,"Gintama'TV (51 eps)Apr 2011 - Mar 2012534,105 ...",9.04,51,Apr 2011 - Mar 2012
6,7,Gintama: The FinalMovie (1 eps)Jan 2021 - Jan ...,9.04,1,Jan 2021 - Jan 2021
7,8,Hunter x Hunter TV (148 eps)Oct 2011 - Sep 201...,9.04,148,Oct 2011 - Sep 2014
8,9,Kaguya-sama wa Kokurasetai: Ultra RomanticTV (...,9.04,13,Apr 2022 - Jun 2022
9,10,Gintama': EnchousenTV (13 eps)Oct 2012 - Mar 2...,9.03,13,Oct 2012 - Mar 2013

In [70]:
# now- from time stamp we can extract total months

def calculate_total_months(duration):
    try:
        # Split the range into start and end
        start_str, end_str = duration.split(' - ')
        
        # Convert to datetime (assume day = 1)
        start_date = pd.to_datetime(start_str, format='%b %Y')
        end_date = pd.to_datetime(end_str, format='%b %Y')
        
        # Calculate total months (inclusive)
        total_months = (end_date.year - start_date.year) * 12 + \
                       (end_date.month - start_date.month) + 1
        
        return total_months
    except:
        return None  # Handle invalid/missing formats

# Apply the function to create a new column
df['total_months'] = df['Time_Stamp'].apply(calculate_total_months)

In [71]:
df.head()

,Rank,Title,Score,Episodes,Time_Stamp,total_months
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010,16
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011,6
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022,3
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016,12
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019,4

In [74]:
# highest score 
# df['Score'].max() 

df[df['Score'] == df['Score'].max()]['Title']

0    Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...
Name: Title, dtype: object

In [77]:
# showing top 5

df["Title"].head()

0    Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...
1    Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...
2    Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...
3    Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...
4    Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...
Name: Title, dtype: object

In [78]:
# most episodes 

df[df['Episodes'] == df['Episodes'].max()]

,Rank,Title,Score,Episodes,Time_Stamp,total_months
15,16,"GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...",8.94,201,Apr 2006 - Mar 2010,48